body {
    /* Location of the image */
    background-image: url(../images/background4.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    /* background-size: cover; */
    background-size: 100% 100%;


    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

}

/* .container {
    width: 960;
    margin: 0px, auto;
} */



.jumbotron {
    /* background-image: url("../images/burgerpic2.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-color: none;
    /* color: #ffffff; */
    /* margin-top: 3%; */
    text-align: center;
}

#newburger {
    color: #5c5c5c;
}

#leftside {
    background-color: #5c5c5c;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#center {
    background-color: #e49322;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

#rightside {
    background-color: #5c5c5c;
    color: white;
    text-align: center;
    font-size: 1.3em;
}